[submodule "Paris2022/reveal.js"]
	path = Paris2022/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "BDL2022/reveal.js"]
	path = BDL2022/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "diip2022/reveal.js"]
	path = diip2022/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "icml2022/reveal.js"]
	path = icml2022/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "comite_these2022/reveal.js"]
	path = comite_these2022/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "SummerSchool2022/reveal.js"]
	path = SummerSchool2022/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "in2p3_irfu_workshop/reveal.js"]
	path = in2p3_irfu_workshop/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "DiipDay2022/reveal.js"]
	path = DiipDay2022/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "Londres2022/reveal.js"]
	path = Londres2022/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "CNRSSchool/reveal.js"]
	path = CNRSSchool/reveal.js
	url = https://github.com/EiffL/reveal.js.git
